body {
    background-color: black;
    color: white;
    align-items: center;
    padding: 40px;
    display: flex; flex-direction: column;
}

.portfolio-list {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 20px;
}

.portfolio-card {
    background-color: #333333;
    border-radius: 10px;
    padding: 25px;
    flex: 40%;
    min-width: 450px;
    display: flex;
    align-items: flex-start;
}

header {
    width: 100%; max-width: 1100px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    font-size: 1.0rem; font-weight: 600;
    opacity: 1;
}

nav a:nth-child(3) {color: green;}


#unit {
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#unit h1 {
    font-size: 1.5rem; font-weight: normal;
    justify-content: center;
    margin-left: auto;
}

#unit h2 {
    right: 20px;
    font-size: 1.2rem; font-weight: normal;
    margin-left: auto;
    cursor: pointer;
}

.portfolio-image {
    width: 150px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    margin-right: 18px;
    display: flex; justify-content: center;
    align-items: center;

}

.portfolio-image img {
    max-width: 85%;
    max-height: 85%;
    display: block;
    margin: 0 auto;
    margin-top: 3px;
}

.portfolio-content {
    display: flex; flex-direction: column;
    gap: 7px;
    padding-right: 30px;
    width: 55%;
    margin-right: auto;

}

.portfolio-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.portfolio-content p {
    font-size: 0.9rem;
    color: white;
    opacity: 0.8;
}

.portfolio-content dl {
    display: flex; flex-flow: row wrap;
    gap: 6px;
    margin-top: 5px;
}

.portfolio-content dt {
    background-color: gray;
    color: black;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.portfolio-content dt.portfolio-leader {
    background-color: steelblue;
    color: white;
}

.menu {
    font-size: 1.0rem;
    color: white;
    cursor: pointer;
    opacity: 0.5;
    margin-left: auto;
    align-self: flex-start;
}

.portfolio-card {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.portfolio-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.portfolio-image img {
    transition: transform 0.5s ease;
}

.portfolio-card:hover .portfolio-image img {
    transform: scale(1.1);
}

.portfolio-card:hover .menu {
    transform: scale(0.9, 1.1);
}

@media (max-width: 768px) {
    .portfolio-list {grid-template-columns: 1fr;}
}