* {box-sizing: border-box;}
html, body, div, span, h1, h2, h3, p, dl, dt, dd, header, nav, section, main {
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    color: white;
    text-decoration: none;
}
ol, ul, li, dl, dt, dd {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}